/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Consolas', 'Courier New', monospace;
  color: #e0e0e0;
  background-color: #0b0c10;
  overflow: hidden;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}
